<!-- Begin Nav bar -->
<div class="container nav-telefono">
    <nav class="navbar navbar-expand-lg navbar-light bg-light " style="border-radius: 50px;position: fixed;">
        <div class="container-fluid nav-telefono-2">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Inicio</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#about">Sobre Mi</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#proyectos">Proyectos</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#videos">Videos</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#jingles">Jingles</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#contact">Bolsa de Trabajo</a>
                  </li>
                  <!--<li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Dropdown link
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </li>-->
                </ul>
              </div>
        </div>
    </nav>

</div>
<!-- End Nav bar -->
